.personal-information {
  margin-bottom: 1rem;
}

.personal-information h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.personal-information > form > div {
  margin-bottom: 0.5rem;
}

.personal-information > form > div > label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 300;
}
